.main_box {
    margin: 24px;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7 {
    background-image: none;
    background-color: #F2F6D0;
    border-radius: 16px;
    border: 2px solid black;
    color: white;
}
