.main_box {
    margin: 24px;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7 {
    background-image: none;
    border-radius: 16px;
    border: 2px solid black;
}

.button1 {
    background-image: none;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
}
.button1:hover {
    background-color: #377d3a;
}

.button2 {
    background-image: none;
    background-color: #008CBA;
    color: white;
    font-size: 14px;
}

.button3 {
    background-image: none;
    background-color: #f44336;
    color: white;
    font-size: 14px;
}

